.home {
  // HEADER
  header {
    @include size(100%);
    position: relative;
    display: inline-block;
    background-image: url('~@/assets/images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .cover {
      padding-right: 10px;
      width: 100%;
      text-align: center;
      position: relative;

      img {
        margin-top: 30px;
        width: 100%;
        max-width: 600px;
      }
    }

    .main-content {
      z-index: 1;
      position: relative;
      padding-bottom: 0;
      display: inline-block;

      @media screen and (max-width: 1000px) {
        padding-bottom: 50px;
      }
    }

    .right {
      padding-left: 30px;
    }

    .floor {
      @include absolute(auto, auto, 0, 0);
      @include size(100%, 120px);
      background: linear-gradient(#888888, #c6c6c6);
      opacity: 0.8;
      z-index: 0;

      @media screen and (max-width: 800px) {
       height: 50%;
      }

      @media screen and (max-width: 500px) {
        height: 65%;
      }
    }
  }

  // Biographie
  .bio {
    background-color: $beige;
    overflow: hidden;

    &__content, .subtitle {
      float: right;
      max-width: 500px;
      clear: both;
      width: 100%;
    }

    .right { text-align: center; }
    .portrait {
      margin-top: -80px;
      max-width: 450px;
      width: 100%;
      padding-left: 30px;

      @media screen and (max-width: 800px) {
        margin-top: 20px;
      }
    }
  }

  .histoires {
    .echo {
      max-width: 320px;
    }

    .col:nth-of-type(1) {
      max-width: 320px;
    }

    button {
      margin-top: 30px;
    }
  }

  .contact {
    @include size(100%, 60px);
    color: white;
    background-color: $dark-purple;
    padding: 20px 50px;
    font-size: 13px;

    @media screen and (max-width: 800px) {
      padding: 20px;
      height: 80px;
     }
    
    p {
      float: left;
      margin-top: 5px;
    }

    img {
      margin-left: 7px;
      width: 25px;
    }

    a { color: white }
  }
}