.home {
  // HEADER
  header {
    @include size(100%);
    position: relative;
    display: inline-block;
    background-image: url("~@/assets/images/wall.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .cover {
      padding-right: 10px;
      width: 100%;
      text-align: center;
      position: relative;

      img {
        margin-top: 30px;
        width: 100%;
        max-width: 350px;
      }
    }

    .main-content {
      z-index: 1;
      position: relative;
      padding-bottom: 0;

      @media screen and (max-width: 1000px) {
        padding-bottom: 50px;
      }
    }

    .right {
      padding-left: 30px;
      margin-top: 30px;
    }

    .floor {
      @include absolute(auto, auto, 0, 0);
      @include size(100%, 120px);
      background: linear-gradient(#9b9a99, #bcb8b3);
      opacity: 0.8;
      z-index: 0;

      @media screen and (max-width: 800px) {
        height: 50%;
      }

      @media screen and (max-width: 500px) {
        height: 65%;
      }
    }
  }

  // Biographie
  .bio {
    background-color: $beige;
    overflow: hidden;

    .left {
      order: 2;
    }

    .main-content {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0px;

      @media screen and (max-width: 768px) {
        padding-top: 0;
      }
    }

    &__content,
    .subtitle {
      float: right;
      max-width: 500px;
      clear: both;
      width: 100%;
    }

    .right {
      text-align: center;
      order: 1;
    }

    .portrait {
      margin-top: -80px;
      max-width: 450px;
      width: 100%;
      padding-left: 30px;

      @media screen and (max-width: 800px) {
        margin-top: 20px;
      }
    }

    .bottom-wave {
      display: block;
      max-width: 100%;
    }
  }

  .histoires {
    background-image: url("~@/assets/images/echo-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #f2f1eb;
    background-position: top center;

    .main-content {
      padding-top: 20px;
    }

    .echo {
      max-width: 320px;
    }

    .col:nth-of-type(1) {
      max-width: 320px;
    }

    .col:nth-of-type(3) {
      background-color: rgba(#ececec, 0.5);
      border-radius: 8px;

      @media screen and (max-width: 768px) {
        background-color: transparent;
      }
    }

    button {
      margin-top: 30px;
    }

    // carousel
    .v-window__controls {
      padding: 0 5px !important;
    }
    .v-carousel__controls {
      margin-top: 50px;

      button {
        margin-top: 10px;
      }
    }
  }

  .couvertures {
    background-color: $beige;
    padding-bottom: 100px;
    display: inline-block;
    border-top: solid 5px #ffffff;

    img {
      max-width: 90%;
      padding: 20px;
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 30px;
      .right {
        order: 1;
      }
      .left {
        order: 2;
      }
      img {
        max-width: 100%;
      }
    }
  }

  .contact {
    @include size(100%, 120px);
    color: white;
    background-color: $dark-purple;
    padding: 10px 50px 20px;
    font-size: 13px;
    text-align: center;

    img {
      margin-left: 8px;
      width: 25px;
    }

    .copyright {
      font-size: 13px;
      opacity: 0.5;
      margin-top: 10px;
    }

    a {
      color: white;
    }
  }
}
